body{
margin: 0px;
padding: 0px;
/*background-image:url(https://i.pinimg.com/736x/f2/5b/7f/f25b7fd76c672d978acd0043fac8b103.jpg);*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
animation-name:imageIn;
animation-duration:20s;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes imageIn{
0%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWjMMIBrAYyynbAyuHFmL9wBk8N33Fqtr8qw&s);}
10%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSwY-qhfb0k1DfVBG8h9K_2TQaLiWhQIZwzKnEj1G2DKqdwD1cHUALaJ8&s=10);}
20%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbbD0RHA0SQL_mT6MrMaYbr_4MnO4NTRD0WA&usqp=CAU);}
30%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcxPoXdEE42dVk-1Esnhn5u_ZcbpHmyeSkAw&usqp=CAU);}
40%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcnE8U4ItdOxPUHWH07YHRYXvf182Kcf5ZgQ&usqp=CAU);}
50%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD2GdUXnQ_v4Bx8Etr6pn81hcJpQi1JzZnyQ&usqp=CAU);}
60%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIygtDqdlJoMUsvz4USkJkl9BPzKqvyvwfdQ&usqp=CAU);}
70%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJadawJ98KVZ8gb4nkEvdCNEgeO6D9tj8N-w&usqp=CAU);}
80%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcrHrZ5VaKp0I1EHA7O589MP9xDSpc6_GYEw&usqp=CAU);}
90%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRavYG3rpwwTGgYdCV28iRmaKxfOTDMnjb3kw&usqp=CAU);}
100%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReDNPn05Dk8EWPYjbwa3Sv4u-aCMczZm9wxQ&s);}
}

html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#timeUp{
    padding:6px;
    border-radious:8px;
    background-color: rgba(225,225,225,0.7);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: rgb(31, 171, 66);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 48px;
    margin-top: 0px;
    font-weight:600;
}
#timeUp{

  animation: zoomInOut 3s ease-in-out infinite;

}



@keyframes zoomInOut {

  0% {

    transform: scale(1, 1);

  }

  50% {

    transform: scale(1.4, 1.4);

  }

  100% {

    transform: scale(1, 1);

  }
}
#MarryC{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 4px;
    z-index: 80000;
    color: aliceblue;
    font-size: 35px;
    text-shadow:  6px 4px 10px  rgba(29, 164, 242, 0.767),
3px 5px 12px rgba(59, 55, 178, 0.978),
8px 9px 16px rgb(29, 157, 193),
6px 7px 20px rgb(5, 189, 128);
}
main{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
#about{
    background-color: aliceblue;
    aspect-ratio:16/9;
    height:660px;
    width: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    border: 3px solid rgba(250, 244, 244,0.6);
   /* animation: about ease-in-out 20s infinite;*/
}
/*@keyframes about{
0%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWjMMIBrAYyynbAyuHFmL9wBk8N33Fqtr8qw&s);}
10%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSwY-qhfb0k1DfVBG8h9K_2TQaLiWhQIZwzKnEj1G2DKqdwD1cHUALaJ8&s=10);}
20%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbbD0RHA0SQL_mT6MrMaYbr_4MnO4NTRD0WA&usqp=CAU);}
30%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcxPoXdEE42dVk-1Esnhn5u_ZcbpHmyeSkAw&usqp=CAU);}
40%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcnE8U4ItdOxPUHWH07YHRYXvf182Kcf5ZgQ&usqp=CAU);}
50%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD2GdUXnQ_v4Bx8Etr6pn81hcJpQi1JzZnyQ&usqp=CAU);}
60%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIygtDqdlJoMUsvz4USkJkl9BPzKqvyvwfdQ&usqp=CAU);}
70%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJadawJ98KVZ8gb4nkEvdCNEgeO6D9tj8N-w&usqp=CAU);}
80%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcrHrZ5VaKp0I1EHA7O589MP9xDSpc6_GYEw&usqp=CAU);}
90%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRavYG3rpwwTGgYdCV28iRmaKxfOTDMnjb3kw&usqp=CAU);}
100%{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReDNPn05Dk8EWPYjbwa3Sv4u-aCMczZm9wxQ&s);}
}*/
#about1{
    color:white;
    height:auto;
font-weight: 800;
    font-family: 'Courier';
    font-style: oblique;
    font-size: 28px;
    text-wrap: wrap;
    animation-duration:4s;
    animation-name:slide-in;
}
@keyframes slide-in{
    from{
        translate: 150vw 0;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
    
}
#wish{
    font-family: 'Courier New', monospace;
    background-color: rgba(18, 18, 221, 0.81);
    color: wheat;
    font-size: 40px;
    text-shadow:  2px 2px 10px  rgb(235, 33, 6),
    3px 5px 12px rgba(235, 63, 6, 0.978),
    8px 9px 16px rgb(245, 128, 2),
    6px 7px 20px rgb(235, 98, 6);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#goBack{
    padding:8px;
    outline: none;
    font-size: 28px;
    color: aliceblue;
    font-family: monospace;
    height: auto;
    width: auto;
    background-color: rgb(50, 237, 100);
    border: 1px solid white;
    border-radius: 4px;
}
#goBack:hover{
    background-color: red;
}
#goBackc{
    text-decoration: none;
}
#goBackc:hover{
    text-decoration: underline;
}
#goBack:focus{
    background-color: rgba(246, 255, 0, 0.784);
}
